*{
    transition: background 0.2s;
}
/* Header */
.header-active {
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.7s;
    background-color: transparent;
}
.header-inactive {
    transform: translateY(-60px);
    opacity: 0;
    transition: all 0.3s;
}
.a-header:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}
.a-header:hover {
    color: var(--purple);
    transition: color 0.3s ease-out;
}
.btnDarkModeActive {
    background-color: var(--purple);
}
.profile-image-transicion {
    box-shadow: 0px 0px 10px 0px rgb(10, 10, 10);
}